.cart {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .cart li {
    position: relative;
    cursor: pointer;
  }
  
  .cart li:hover {
    left: .1em;
  }
  
  .cart a {
    color: #002fff;
    text-decoration: none;
    background-color: #000000;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .cart a:hover {
    color: #176f9b;
    background-color: #000000;
  }
  
  .cart .badge {
    display: inline-block;
    font-size: small;
    color: rgb(0, 255, 55);
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #000000;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: rgb(255, 255, 255);
    color:  #ff0000;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
  }

  .checkout a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }