<div *ngIf="product">
  <h2>{{product.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{product.id}}</div>
  <div>
    <label for="product-name">Product Name: </label>
    <input *ngIf="isAdmin()" id="product-name" [(ngModel)]="product.name" placeholder="Product name"/>
    <span *ngIf="!isAdmin()"> {{product.name}} </span>
  </div>
  <div>
    <label for="product-price">Product Price: </label>
    <input *ngIf="isAdmin()" id="product-price" [(ngModel)]="product.price" placeholder="Product price"/>
    <span *ngIf="!isAdmin()"> {{product.price}} </span>
  </div>
  <div>
    <label for="product-quantity">Product Quantity: </label>
    <input *ngIf="isAdmin()" id="product-quantity" [(ngModel)]="product.quantity" placeholder="Product quanity"/>
    <span *ngIf="!isAdmin()"> {{product.quantity}} </span>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button *ngIf="!isAdmin() && isLoggedIn()" type="add" (click)="addToCart()">add to cart</button>
</div>