<h1>Trades:</h1>

<article id="trade-form">
    <form (ngSubmit)="onSubmit(userName, otherName, requestId, offerId)" #tradeForm="ngForm">
      
        
      
        <label for="otherName">Other Name:</label>
        <input type="text" id="otherName" name="otherName" [(ngModel)]="otherName" required>

        <label for="requestId">Request:</label>
        <input type="number" id="requestId" name="requestId" [(ngModel)]="requestId" required>

        <label for="offerId">Offer:</label>
        <input type="number" id="offerId" name="offerId" [(ngModel)]="offerId" required>
      
        
      
      
        <button type="submit">Submit</button>
      </form>
      <h2>Incoming Trades: </h2>
      <li *ngFor="let trade of the_trades">
        {{trade.fromUser}}
        {{trade.toUser}}
        {{trade.offer.id}}
        {{trade.request.id}}
        <button type="button" (click)="onAccept()" (click)="resolve_trade()">Accept</button>
        <button type="button" (click)="onDecline()" (click)="resolve_trade()">Decline</button>
      </li>
          
        

      
      
</article>
