<br>

<div class="search-label">
  <h3>Product Search</h3>
</div>

<div class="search-component">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" 
    placeholder="search cards"/>
</div>

<ul class="search-result">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}">
      {{product.name}} | ${{product.price}} In-Stock: {{product.quantity}}
    </a>
  </li>
  <div *ngIf="term.length > 0 && products.length === 0">
    No products found
  </div>
</ul>  