<div id="search-component">
    <h4>Product Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="search products"/>
    <ul class="search-result">
      <li *ngFor="let product of products" >
        <a routerLink="/detail/{{product.id}}">
          {{product.name}}
        </a>
      </li>
      <p>{{products.length}}</p>

      
      
      <div *ngIf="term.length > 0 && products.length === 0">
        <li>No products found</li>
      </div>
      
      

      
    
      
      
    </ul>
  </div>
  