<h2>Account</h2>

<input type="text"
#box
placeholder="Enter User Name:" 
name="userName"
(keyup)=getUser(box.value)
(keyup.enter)=logIn()/>

<button type="button" class="in-button" (click)=logIn()>
    Log In
</button>

<button type="button" class="out-button" (click)=logOut()>
    Log Out
</button>

<button type="button" class="in-button" (click)=createAccount()>
    Create Account
</button>

<button type="button" class="out-button" (click)=deleteAccount()>
    Delete Account
</button>

<p>{{displayValue}}</p>
